# Dependencies
node_modules/

# Secrets and env
.env
.env.*
!.env.example

# Builds
dist/
build/
.strapi/
.strapi-updater.json
.strapi-cloud.json
exports/

# Logs and OS
*.log
.DS_Store
Thumbs.db

# Editor
.idea/
.vscode/

# Uploads and local DB
backend/public/uploads/*
!backend/public/uploads/.gitkeep
backend/.tmp/
*.sqlite
*.sqlite3
